@font-face {
  font-family: 'DaxlinePro-Regular';
  src: url('DaxlinePro-Regular.eot');
  src: url('DaxlinePro-Regular.eot?#iefix') format('embedded-opentype'),
	   url('DaxlinePro-Regular.woff2') format('woff2'),
	   url('DaxlinePro-Regular.woff') format('woff'),
       url('DaxlinePro-Regular.ttf') format('truetype'),
       url('DaxlinePro-Regular.svg#DaxlinePro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


